html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
.Stylish_Portfolio {
  background-image: url(../img/bg-masthead.jpg);
  height: 100vh;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.title {
  font-size: 10rem;
  font-weight: bold;
  color: #000000;
}
